<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>API-CAF</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/table.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- =======================================================
  * Template Name: Ninestars - v4.6.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>API-CAF</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#poblaciones">Poblaciones</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca de</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Tu donacion podria ayudar a los que mas lo necesitan</h1>
          <h2 class="subTitle">Nuestro sistema tiene la intencion de registrar las poblaciones mas necesitadas del pais para tener un registro de quienes son los que mas nos necesitan</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/imagen inicio con nube.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="static/img/senor pobre.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">¿Como es el proceso?</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              A continuacion de mostraremos un simulador de cual es el proceso para registrar nuevas poblaciones y familias que lo necesiten. asi como el poder elegir a quien donar. En caso de que seas un administrador igual se 
              podra eliminar poblaciones o familiares si no se cumplen con las normas o si llegan a ser falsos.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-map-alt"></i>
                <h4>Poblacion</h4>
                <p>Puedes agregar cualquier poblacion que sea de bajos recursos para que se registre en nuestra base de datos.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bxs-group"></i>
                <h4>Familia</h4>
                <p>Puedes registrar a cualquier familia de estas poblaciones para que puedan recibir donaciones.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Registro</h2>
          <p>Selecciona la opcion que quieras realizar</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Registra poblacion</a></h4>
              <p class="description">Puedes agregar cualquier poblacion que sea de bajos recursos para que se registre en nuestra base de datos.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Registra familia</a></h4>
              <p class="description">Puedes registrar a cualquier familia de estas poblaciones para que puedan recibir donaciones.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Modifica poblacion o familia</a></h4>
              <p class="description">Te equivocaste en algun campo de la poblacion o de la familia? no te preocupes aun puedes hacer el cambio.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Eliminar poblacion o familia</a></h4>
              <p class="description">Puedes eliminar alguna poblacion o familia</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="poblaciones" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>API-CAF</h2>
          <p>Interactua con el simulador :D</p>
        </div>
        <p> 
          {% for message in get_flashed_messages() %}
              <div class="alert alert-success">{{ message }}</div>
          {% endfor %}
      </p>
        <div class="container  ">
          <div class="row">
            <div class="col-12" style="text-align: right; margin: 5px;">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agrega una poblacion
              </button>
            </div>
          </div>
        </div>
        
        <table  class="shadow-lg">
          <thead>
          <tr class="table100-head">
          <th class="column1">Poblacion</th>
          <th class="column2">Estado</th>
          <th class="column3">Municipio</th>
          <th class="column4">Tasa de natalidad</th>
          <th class="column5">Tasa de mortalidad</th>
          <th class="column6">Acciones</th>
          </tr>
          </thead>
          <tbody>
            {% for dato in datos['population'] %}
          <tr>
            <td>{{  dato['name'] }}</td>
            <td>{{  dato['state']  }}</td>
            <td>{{  dato['municipality']  }}</td>
            <td>{{  dato['tn']  }}</td>
            <td>{{  dato['tm']  }}</td>
            <td class="column6">
              <a class="btn btn-danger"   href="{{ url_for('proyect.methods',id=dato['id']) }}" ><i class="fas fa-trash-alt"></i></a>
              <a class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalupdate" data-id="{{ dato['id'] }}"  href="#"  role="button"><i class="fas fa-edit"></i></a>
              <a class="cargar-a btn btn-success"  id="cargar" type="button" data-bs-toggle="modal" data-bs-target="#modalfamiliar" data-ida="{{ dato['id'] }}"  href="#"  role="button"><i class="fas fa-users"></i></a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </section><!-- End F.A.Q Section -->

    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Equipo</h2>
          <p>Nuestro equipo está siempre aquí para ayudar</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="static/img/team/carlos.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Carlos Eduardo Gómez De la cruz</h4>
                  <span>Desarrollador web</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="static/img/team/alexandra6.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Alexandra Marianne Jimenez Lopez</h4>
                  <span>Diseñadora ux/ui</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="member">
              <img src="static/img/team/esteban.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Freddy Esteban Balcanzar Padilla</h4>
                  <span>Product Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="member">
              <img src="static/img/team/miguel.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Miguel Guadalupe Esquinca Molina</h4>
                  <span>CTO</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>API-CAF</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- start modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agrega una poblacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  method="POST">
            <div class="mb-3">
              <label  class="form-label">Nombre</label>
              <input type="text" name="name" class="form-control" >
            </div>
            <div class="mb-3">
              <label  class="form-label">Estado</label>
              <input type="text" name="state" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Municipio</label>
              <input type="text" name="municipality" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Tasa de natalidad</label>
              <input type="number" name="tn" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Tasa de mortalidad</label>
              <input type="number" name="tm" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </form>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

    <!-- start modal -->
  <div class="modal fade bd-example-modal-lg" id="modalupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edita la poblacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label  class="form-label">Nombre</label>
              <input type="text" name="name" id='nameUpdate' class="form-control" >
            </div>
            <div class="mb-3">
              <label  class="form-label">Estado</label>
              <input type="text" name="state" id='stateUpdate' class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Municipio</label>
              <input type="text" name="municipality"id='municipalityUpdate' class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Tasa de natalidad</label>
              <input type="number" name="tn" id='tnUpdate' class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Tasa de mortalidad</label>
              <input type="number" name="tm" id='tmUpdate' class="form-control">
            </div>
            <button type="button" id='btnUpdate'  class="btn btn-primary">Agregar</button>
            <button type="button" id='btnclose'  class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

      <!-- start modal -->
  <div class="modal fade familiar-example-modal-lg" id="modalfamiliar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Familiares</h5>
          <button type="button" id="closeFamilia" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <table class="tableaaa" id="tablafamiliares">
                  <thead>
                    <tr>
                      <th scope="col">Familia</th>
                      <th scope="col">Numero de hijos</th>
                      <th scope="col">Donaciones</th>
                    </tr>
                  </thead>
                  <tbody id="cuerpo">
                  </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="https://kit.fontawesome.com/fa771c6355.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='/js/main.js') }}"></script>
  <script type="text/javascript">
     // $('#modalfamiliar').on('show.bs.modal', function(e) {
      //var id = e.relatedTarget.getAttribute("data-id");
      //console.log(id)
      $(function(){
        $('#modalfamiliar').on('show.bs.modal', function(e) {
        //$(".cargar-a").click(function(e){
          var id = e.relatedTarget.getAttribute("data-ida");
          console.log(id)
          $.getJSON('http://127.0.0.1:5000/api/get-family/'+id, function(data){
            console.log(data)
            $("#cuerpo").html("");
            for(var i=0; i<data.length; i++){
              var tr = `<tr>  
                <td>`+data[i]['head_of_household']+`</td>
                <td>`+data[i].number_of_children+`</td>
                <td>`+data[i].donations+`</td>
              </tr>`;
              console.log(tr)
              $("#cuerpo").append(tr)
            }
          })
        })
      })
      //});
  </script>
   <script type="text/javascript">
       $('#modalupdate').on('show.bs.modal', function(e) {
        // console.log(e.relatedTarget.getAttribute("data-matricula"))
        var id = e.relatedTarget.getAttribute("data-id");
        console.log(id)
        var btnUpdate  = document.getElementById("btnUpdate");
        btnUpdate.onclick = function(e){
          var name = document.getElementById("nameUpdate").value;
          var state = document.getElementById("stateUpdate").value;
          var municipality = document.getElementById("municipalityUpdate").value;
          var tn = document.getElementById("tnUpdate").value;
          var tm = document.getElementById("tmUpdate").value;
          
          console.log(id)
            var parametros = {
            "id": id , "name": name , "state": state , "municipality": municipality , "tn": tn ,"tm": tm 
        }
          $.ajax({
            data: JSON.stringify(parametros), //datos que se envian a traves de ajax
            url: '/put', //archivo que recibe la peticion
            type: 'post', //método de envio
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                var btnclose  = document.getElementById("btnclose");
                btnclose.click()
                location.reload()
                console.log(response)
            },
            error: function(error){
                console.log(error);
            }
        });

        }

    });


      $(document).ready(function() {
        var btnUpdate  = document.getElementById("btnUpdate");
        btnUpdate.onclick = function(e){
          console.log(id)
        }
    });
</script>
</body>


</html>